<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <fieldset>
            <legend>Book Search</legend>
            <label>
                <span>Enter Search Term(s):</span>
                <input type="text" name = "searchTerm"/>
            </label>
            <label>
                <span>Author</span>
                <input type="radio" name = "Author">
            </label>
            <label>
                <span>Title</span>
                <input type="radio" name = "Title">
            </label>
        </fieldset>
    </form>
</body>
</html>