<footer>
    <ul>
      <a href="https://twitter.com/MarieAntons"> <i class="fab fa-twitter" style="color: #ea5e5e"></i></a>
      <a href="https://github.com/mrsantons"></a><i class="fab fa-github-alt" style="color:#ea5e5e"></i></a>
      <a href="https://codepen.io/mrsantons"><i class="fab fa-codepen" style="color: #ea5e5e"></i></a>
      <a href="https://www.linkedin.com/in/marieantons/"><i class="fab fa-linkedin"
              style="color: #ea5e5e"></i></a>
      <a href="https://dev.to/marieantons"> <i class="fab fa-dev" style="color: #ea5e5e"></i></a>
      <a href="https://www.instagram.com/mrs.antons/"><i class="fab fa-instagram"
              style="color: #ea5e5e"></i></a>
    </ul>
  </footer>